<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <display-name>Arrendamientos</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>Index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>CasaController</servlet-name>
        <servlet-class>Controller.CasaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CasaController</servlet-name>
        <url-pattern>/CasaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonaController</servlet-name>
        <servlet-class>Controller.PersonaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonaController</servlet-name>
        <url-pattern>/PersonaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArriendoController</servlet-name>
        <servlet-class>Controller.ArriendoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArriendoController</servlet-name>
        <url-pattern>/ArriendoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PagosController</servlet-name>
        <servlet-class>Controller.PagosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PagosController</servlet-name>
        <url-pattern>/PagosController</url-pattern>
    </servlet-mapping>
</web-app>

